$main-color: #F44336;

@media (max-width: 767px) {
    .logo .logo-container {
        display: inline-block;

        .data {
            display: none;
        }

        .logo__img {
            img {
                width: 100%;
            }
        }
    }

    .menu {
        text-align: center;

        .menu__top__items {
            display: block;
            padding: 10px 0;
            margin: 0;

            li {
                padding: 0;
                display: block;
                transition: 0.3s;

                &:after {
                    display: none;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                }

                a {
                    display: block;
                    padding: 10px;

                    &:hover {
                        color: white;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .jumbotron {
        padding: 100px 0;

        .jumbotron__slogan {
            h1 {
                font-size: 30px;
                padding: 0 20px;
            }

            p {
                padding: 10px 20px;
            }
        }
    }

    .aboutUs .aboutUs-container {
        padding: 10px;

        .owner {
            width: 100%;
            max-width: 200px;
            float: none;
        }

        p {
            font-size: 14px;
            text-align: center;
            line-height: 25px;
        }

        .partners_logo {
            flex-wrap: wrap;
            justify-content: space-around;

            img {
                max-width: 120px;
            }
        }
    }

    .offer-section {
        .offer__button .button {
            margin: 10px;
        }
        .offer__intro {
            font-size: 15px;
        }

        .offer {
            padding: 0;
            margin-top: 20px;

            .offer__category {
                flex-wrap: wrap;
                padding: 10px 15px;
                font-size: 14px;

                .offer__category__text-container {
                    max-width: 100%;
                    flex-basis: 100%;

                    .offer__category__list {
                        padding-left: 10px;
                    }
                }

                .offer__category__img-container {
                    max-width: 100%;
                    flex-basis: 100%;
                    padding: 20px 0;

                    .offer__category__img {
                        margin: 0 auto;
                        max-width: 250px;
                    }
                }
            }
        }
    }



    .brands .other__brands {
        padding: 0;
        font-size: 13px;
        width: 80%;
    }

    .price .price__container .price-section {
        flex-basis: auto;
        margin: 10px 0;
        flex-grow: 1;
        flex-shrink: 1;
        &:hover {
            transform: none;
        }
    }



    .contact .form input,
    .contact .form textarea {
        font-size: 13px;
        margin: 15px 0;
    }

    footer {
        text-align: center;

        .footer__container {
            flex-direction: column;

            .menu__bottom__items {
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }
}

$main-color: #F44336;

@media (min-width: 768px) and (max-width: 1199px) {
    .logo {
        padding-left: 0;

        .logo-container .data {
            padding: 10px 0px;
            padding-top: 20px;

            .data__container {
                font-size: 12px;
                padding: 0;
            }

            .data__icon i {
                font-size: 20px;
                line-height: 30px;
                padding: 5px;
                padding-right: 10px;
            }
        }
    }

    .aboutUs .aboutUs-container .partners_logo div {
        flex-basis: 110px;
    }

    .offer-section .offer {
        .offer__category {
            padding: 20px 30px;
            font-size: 14px;

            .offer__category__text-container {
                max-width: 60%;
                flex-basis: 60%;

                .offer__category__list {
                    padding-left: 20px;
                }
            }

            .offer__category__img-container {
                max-width: 40%;
                flex-basis: 40%;
            }
        }
    }

    .price .price__container .price-section {
        flex-basis: 330px;
        margin: 15px;
    }
}

// @media (min-width: 1200px) {
