// @media (max-width: 767px) {}

$main-color: #F44336;

// // @media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 1200px) {
    .button {
        &:hover {
            border: 2px solid $main-color;
            cursor: pointer;
            opacity: 0.9;
        }
    }

    .menu .menu__top__items li a {
        transition: 0.5s;

        &:hover {
            color: $main-color;
            opacity: 0.9;
        }
    }

    .partners .partners_logo img {
        transition: 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    .price .price-section {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
        }

        .fa {
            transition: 1s;
        }

        &:hover .fa { 
            transform: rotateY(360deg);
        }
    }
}
