// @media (max-width: 767px) {}

$main-color: #F44336;
// // @media (min-width: 768px) and (max-width: 1199px) {}
    
@media (min-width: 1200px) {
//     // .button {
//     //     &:hover {
//     //          background-color: white;
//     //          color: $main-color;    
//     //          border: 2px solid $main-color; 
//     //             cursor: pointer;  
//     //     }
//     // }
    .menu .menu__top__items li a{
        transition: 0.5s;
        &:hover {
            color: $main-color;                        
            opacity: 0.9;
        }
    }

    .partners .partners_logo img {
        transition: 0.5s;
        &:hover {
            opacity: 1;
        }
    }
}