@media (min-width: 1200px) {
  .menu .menu__top__items li a {
    transition: 0.5s;
  }
  .menu .menu__top__items li a:hover {
    color: #F44336;
    opacity: 0.9;
  }
  .partners .partners_logo img {
    transition: 0.5s;
  }
  .partners .partners_logo img:hover {
    opacity: 1;
  }
}
