@media screen and (max-width: 767px) {
  .logo .logo-container {
    display: inline-block;
  }
  .logo .logo-container .data {
    display: none;
  }
  .logo .logo-container .logo__img img {
    width: 100%;
  }
  .menu {
    text-align: center;
  }
  .menu .menu__top__items {
    display: block;
    padding: 10px 0;
    margin: 0;
  }
  .menu .menu__top__items li {
    padding: 0;
    display: block;
    transition: 0.3s;
  }
  .menu .menu__top__items li:after {
    display: none;
  }
  .menu .menu__top__items li:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .menu .menu__top__items li a {
    display: block;
    padding: 10px;
  }
  .menu .menu__top__items li a:hover {
    color: white;
    opacity: 1;
  }
  .jumbotron {
    padding: 100px 0;
  }
  .jumbotron .jumbotron__slogan h1 {
    font-size: 30px;
    padding: 0 20px;
  }
  .jumbotron .jumbotron__slogan p {
    padding: 10px 20px;
  }
  .aboutUs .aboutUs-container {
    padding: 10px;
  }
  .aboutUs .aboutUs-container .owner {
    width: 100%;
    max-width: 200px;
    float: none;
  }
  .aboutUs .aboutUs-container p {
    font-size: 14px;
    text-align: center;
    line-height: 25px;
  }
  .aboutUs .aboutUs-container .partners_logo {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .aboutUs .aboutUs-container .partners_logo img {
    max-width: 120px;
  }
  .offer-section .offer__button .button {
    margin: 10px;
  }
  .offer-section .offer__intro {
    font-size: 15px;
  }
  .offer-section .offer {
    padding: 0;
    margin-top: 20px;
  }
  .offer-section .offer .offer__category {
    flex-wrap: wrap;
    padding: 10px 15px;
    font-size: 14px;
  }
  .offer-section .offer .offer__category .offer__category__text-container {
    max-width: 100%;
    flex-basis: 100%;
  }
  .offer-section .offer .offer__category .offer__category__text-container .offer__category__list {
    padding-left: 10px;
  }
  .offer-section .offer .offer__category .offer__category__img-container {
    max-width: 100%;
    flex-basis: 100%;
    padding: 20px 0;
  }
  .offer-section .offer .offer__category .offer__category__img-container .offer__category__img {
    margin: 0 auto;
    max-width: 250px;
  }
  .brands .other__brands {
    padding: 0;
    font-size: 13px;
    width: 80%;
  }
  .price .price__container .price-section {
    flex-basis: auto;
    margin: 10px 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .price .price__container .price-section:hover {
    transform: none;
  }
  .brands .slider-container {
    padding: 0 40px;
  }
  .brands .slider-container .slider div img {
    height: 20px;
  }
  .brands .slider-container .slider div .slider__LG {
    height: 35px;
  }
  .contact .form {
    padding: 0 20px;
    flex-direction: column;
  }
  .contact .form .form__data, .contact .form .form__message {
    flex-basis: auto;
  }
  footer {
    text-align: center;
    padding: 10px 0 20px;
  }
  footer .footer__container {
    flex-direction: column-reverse;
  }
  footer .footer__container span {
    padding: 0px;
    padding-top: 10px;
    font-size: 12px;
  }
  footer .footer__container .menu__bottom__items {
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .footer__container .menu__bottom__items li {
    margin: 0 10px;
  }
  .privacy-policy .container {
    padding: 15px 20px;
  }
  .privacy-policy .container ol ol {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding-left: 0;
  }
  .logo .logo-container .data {
    padding: 10px 0px;
    padding-top: 20px;
  }
  .logo .logo-container .data .data__container {
    font-size: 12px;
    padding: 0;
  }
  .logo .logo-container .data .data__icon i {
    font-size: 20px;
    line-height: 30px;
    padding: 5px;
    padding-right: 10px;
  }
  .aboutUs .aboutUs-container .partners_logo div {
    flex-basis: 110px;
  }
  .offer-section .offer .offer__category {
    padding: 20px 30px;
    font-size: 14px;
  }
  .offer-section .offer .offer__category .offer__category__text-container {
    max-width: 60%;
    flex-basis: 60%;
  }
  .offer-section .offer .offer__category .offer__category__text-container .offer__category__list {
    padding-left: 20px;
  }
  .offer-section .offer .offer__category .offer__category__img-container {
    max-width: 40%;
    flex-basis: 40%;
  }
  .brands .slider-container .slider div img {
    height: 25px;
  }
  .brands .slider-container .slider div .slider__LG {
    height: 40px;
  }
  .price .price__container .price-section {
    flex-basis: 330px;
    margin: 15px;
  }
}
